[run]
omit = 
    */tests/*
    */static/*
    */migrations/*
    */__init__.py*
    */usr/*
    */manage.py*
    */admin.py*
    */settings.py*
    */apps.py*
    */signals.py*
    */urls.py*
    */utils.py*