{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title %}
    {{ accion }} Costo
{% endblock %}

{% block contenido %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h1 style="margin: auto;">{{ accion }} Costo</h1>
<div style="width: 100%; margin: auto;">
    <form class="form" method="post">
        {{ form|crispy }}
        {% csrf_token %}
            <button type="submit" class="btn btn-success">
                {% if accion == 'Nuevo' %}
                    Agregar
                {% else %}
                    Guardar
                {% endif %}        
            </button>
        <a href="{% url 'lista_costos' %}" class="btn btn-danger">Regresar</a>
    </form>
</div>
{% endblock %}


