{% extends 'base.html' %}
{% load static %}

{% block title %}
Lista de Costos
{% endblock %}

{% block contenido %}

<div class="card shadow mb-4" style="margin: auto;">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Lista de Costos</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form action="{% url 'eliminar_costos' %}" method="post">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    {% csrf_token %}
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="todos"> Todos</th>
                            <th>ID</th>
                            <th>Descripcion</th>
                            <th>Costo</th>
                            <th>Proyecto</th>
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_staff %}
                                <th>Acciones</th>
                                {% endif %}
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for costo in object_list %}
                        <tr>
                            <td><input type="checkbox" name="{{costo.id}}"></td>
                            <td>{{ costo.id }}</td>
                            <td>{{ costo.descripcion }}</td>
                            <td>{{ costo.costo }}</td>
                            <td>{{ costo.proyecto }}</td>
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_staff %}
                                <td>
                                    <a href="{% url 'eliminar_costo' costo.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                                    <a href="{% url 'editar_costo' costo.id %}" class="btn btn-primary btn-sm">Editar</a>
                                </td>
                                {% endif %}
                            {% endif %}
                            
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                </table>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_staff %}
                        <a href="{% url 'agregar_costo' %}" class="btn btn-success btn-sm">Agregar</a>
                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        <a href="{% url 'reporte_costos' %}" class="btn btn-primary btn-sm">Generar PDF</a>
                    {% endif %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function enviar(page){
        $("#page").val(page);
        $("#form").submit();
    }
</script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/datatables-demo.js' %}"></script>

{% endblock %}
