{% extends 'base.html' %}

{% block title %}
Lista de Cuentas Bancarias
{% endblock %}

{% block contenido %}
<br>
<h1>Lista De Cuentas Bancarias</h1>
<form action="{% url 'buscar_cuenta' %}" method="post" id="form">
    {% csrf_token %}
    <table class="table">
        <tr>
            <td>{{form.proyecto}}</td>
            <td>{{form.responsable}}</td>
            <td>{{form.limite_presupuestario}}</td>
            
            <td>
                <input class="btn btn-success" type="submit" value="Buscar">
                <input type="hidden" name="page" id="page">
            </td>
        </tr>
    </table>
    
</form>
<table class="table">
    <thead>
        <form action="{% url 'eliminar_todas' %}" method="post">
            {% csrf_token %}

            <tr>
                <th><input type="checkbox" name="todas">Todas</th>
                <th>ID</th>
                <th>Proyecto</th>
                <th>Responsable</th>
                <th>Limite presuestario</th>
            </tr>

        </thead>
        <tbody>
                {% for cuenta in object_list %}
                    <tr>
                        <td><input type="checkbox" name="{{cuenta.id}}"></td>
                        <td>{{ cuenta.id }}</td>
                        <td>{{ cuenta.proyecto }}</td>
                        <td>{{ cuenta.responsable }}</td>
                        <td>{{ cuenta.limite_presupuestario }}</td>
                        <td>
                            <a href="{% url 'eliminar_cuenta' cuenta.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                            <a href="{% url 'editar_cuenta' cuenta.id %}" class="btn btn-success btn-sm">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'agregar_cuenta' %}" class="btn btn-success btn-sm">Agregar</a>
        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
    </form> 
{% endblock %}