{% extends 'base.html' %}
{% load static %}

{% block title %}
Lista de Cuentas Bancarias
{% endblock %}

{% block contenido %}

<div class="card shadow mb-4" style="margin: auto;">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Lista de Cuentas Bancarias</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form action="{% url 'eliminar_cuentas' %}" method="post">
                {% csrf_token %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="todos"> Todos</th>
                            <th>ID</th>
                            <th>Proyecto</th>
                            <th>Responsable</th>
                            <th>Limite presuestario</th>
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_staff %}
                                <th>Acciones</th>
                                {% endif %}
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for cuenta in object_list %}
                        <tr>
                            <td><input type="checkbox" name="{{cuenta.idcuenta}}"></td>
                            <td>{{ cuenta.idcuenta }}</td>
                            <td>{{ cuenta.proyecto }}</td>
                            <td>{{ cuenta.responsable }}</td>
                            <td>{{ cuenta.limite_presupuestario }}</td>
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_staff %}
                                <td>
                                    <a href="{% url 'eliminar_cuenta' cuenta.idcuenta %}" class="btn btn-danger btn-sm">Eliminar</a>
                                    <a href="{% url 'editar_cuenta' cuenta.idcuenta %}" class="btn btn-primary btn-sm">Editar</a>
                                </td>
                                {% endif %}
                            {% endif %}
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_staff %}
                    <a href="{% url 'agregar_cuenta' %}" class="btn btn-success btn-sm">Agregar</a>
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    {% endif %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function enviar(page){
        $("#page").val(page);
        $("#form").submit();
    }
</script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/datatables-demo.js' %}"></script>
{% endblock %}
