{% extends 'base.html' %}

{% block title %}
    {{ accion }} Cuenta bancaria
{% endblock %}

{% block contenido %}
<h1>{{ accion }} Cuenta bancaria</h1>
<form method="POST" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">
        {% if accion == 'Nuevo' %}
            Agregar
        {% else %}
            Guardar
        {% endif %}        
    </button>
    <a href="{% url 'lista_cuentas' %}" class="btn btn-danger">Regresar</a>
</form>
{% endblock %}


