{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title %}
    {{ accion }} Cuenta bancaria 
{% endblock %}

{% block contenido %}
<h1 style="margin: auto;">{{ accion }} Cuenta bancaria</h1>
<div style="width: 100%; margin: auto;">
    <form class="form" method="post">

        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-success">
            {% if accion == 'Nuevo' %}
                Agregar
            {% else %}
                Guardar
            {% endif %}        
        </button>
        <a href="{% url 'lista_cuentas' %}" class="btn btn-primary">Regresar</a>
    </form>
</div>
{% endblock %}


