{% extends 'base.html' %}
{% load static %}

{% block title %}
Lista de Cuentas Bancarias
{% endblock %}

{% block contenido %}
<form action="{% url 'buscar_cuenta' %}" method="post" id="form" style="margin: auto;">
    {% csrf_token %}
    {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
        <table class="table">
            <tr>
                <td>{{form.idcuenta}}</td>
                <td>{{form.proyecto}}</td>
                <td>{{form.responsable}}</td>
                <td>{{form.limite_presupuestario}}</td>
                <td>
                    <input class="btn btn-success" type="submit" value="Buscar">
                    <input type="hidden" name="page" id="page">
                </td>
            </tr>
        </table>
        {% endif %}
    {% endif %}
    
</form>
<div class="card shadow mb-4" style="margin: auto;">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Lista de Cuentas Bancarias</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <form action="{% url 'eliminar_todos' %}" method="post">
                    <thead>
                        {% csrf_token %}
                        <tr>
                            <th><input type="checkbox" name="todos"> Todos</th>
                            <th>ID</th>
                            <th>Proyecto</th>
                            <th>Responsable</th>
                            <th>Limite presuestario</th>
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_staff %}
                                <th>Acciones</th>
                                {% endif %}
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for cuenta in object_list %}
                        <tr>
                            <td><input type="checkbox" name="{{cuenta.idcuenta}}"></td>
                            <td>{{ cuenta.idcuenta }}</td>
                            <td>{{ cuenta.proyecto }}</td>
                            <td>{{ cuenta.responsable }}</td>
                            <td>{{ cuenta.limite_presupuestario }}</td>
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_staff %}
                                <td>
                                    <a href="{% url 'eliminar_cuenta' cuenta.idcuenta %}" class="btn btn-danger btn-sm">Eliminar</a>
                                    <a href="{% url 'editar_cuenta' cuenta.idcuenta %}" class="btn btn-success btn-sm">Editar</a>
                                </td>
                                {% endif %}
                            {% endif %}
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_staff %}
                    <a href="{% url 'agregar_cuenta' %}" class="btn btn-success btn-sm">Agregar</a>
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    {% endif %}
                    {% endif %}
                </form>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="javascript:enviar(1);">&laquo; first</a>
                            <a href="javascript:enviar({{ page_obj.previous_page_number }});">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                            <a href="javascript:enviar({{ page_obj.next_page_number }});">next</a>
                            <a href="javascript:enviar({{ page_obj.paginator.num_pages }});">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function enviar(page){
        $("#page").val(page);
        $("#form").submit();
    }
</script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/datatables-demo.js' %}"></script>
{% endblock %}
