{% extends 'base.html' %}

{% block title %}
Lista de Proyectos
{% endblock %}

{% block contenido %}
<br>
<h1>Lista De Proyectos</h1>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<form action="{% url 'buscar_proyectos' %}" method="post" id="form">
    {% csrf_token %}
    <table class="table">
        <tr>
            <td>{{form.num_proyecto}}</td>
            <td>{{form.nombre_proyecto}}</td>
            <td>{{form.objetivo}}</td>
            <td>{{form.presupuesto}}</td>
            <td>{{form.duracion}}</td>
            <td>{{form.responsables}}</td>
            <td>{{form.proveedor}}</td>            
            <td>
                <input class="btn btn-success" type="submit" value="Buscar">
                <input type="hidden" name="page" id="page">
            </td>
        </tr>
    </table>
</form>
<table class="table">
    <thead>
        <form action="{% url 'eliminar_todos' %}" method="post">
            {% csrf_token %}
            <tr>
                <th><input type="checkbox" name="todos">Todas</th>
                <th>NUM Proyecto</th>
                <th>Nombre Proyecto</th>
                <th>Objetivo</th>
                <th>Presupuesto</th>
                <th>Duracion (Meses)</th>
                <th>Responsables</th>
                <th>Proveedor</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                {% for proyecto in object_list %}
                    <tr>
                        <td><input type="checkbox" name="{{proyecto.id}}"></td>
                        <td>{{ proyecto.num_proyecto }}</td>
                        <td>{{ proyecto.nombre_proyecto}}</td>
                        <td>{{ proyecto.objetivo}}</td>
                        <td>{{ proyecto.presupuesto}}</td>
                        <td>{{ proyecto.duracion}}</td>
                        <td>{{ proyecto.responsables}}</td>
                        <td>{{ proyecto.proveedor.razon_social}}</td>
                        <td>
                            <a href="{% url 'eliminar_proyecto' proyecto.num_proyecto %}" class="btn btn-danger btn-sm">Eliminar</a>
                            <a href="{% url 'editar_proyecto' proyecto.num_proyecto %}" class="btn btn-success btn-sm">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'agregar_proyecto' %}" class="btn btn-success btn-sm">Agregar</a>
            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
    </form> 
{% endblock %}