{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title %}
    {{ accion }} Proyecto
{% endblock %}

{% block contenido %}
<h1>{{ accion }} Proyecto</h1>
<form method = "post" class="form-control" style="margin: auto; width: 80%;">
    {% csrf_token %}
    <div style="width: 100%; margin: auto;">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">
            {% if accion == 'Nuevo' %}
                Agregar
            {% else %}
                Guardar
            {% endif %}        
        </button>
        <a href="{% url 'lista_proyectos' %}" class="btn btn-danger">Regresar</a>
</form>
{% endblock %}
