{% extends 'base.html' %}
{% load static %}

{% block title %}
Lista de Proveedores
{% endblock %}

{% block contenido %}
<form action="{% url 'buscar_proveedor' %}" method="post" id="form">
    {% csrf_token %}
    <table class="table">
        <tr>
            <td>{{form.rfc}}</td>
            <td>{{form.direccion}}</td>
            <td>{{form.telefono}}</td>
            <td>{{form.correo}}</td>
            <td>{{form.municipio}}</td>
            <td>{{form.estado}}</td>            
            <td>
                <input class="btn btn-success" type="submit" value="Buscar">
                <input type="hidden" name="page" id="page">
            </td>
        </tr>
    </table>
</form>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Lista de Proveedores</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <form action="{% url 'eliminar_todos' %}" method="post">
                    {% csrf_token %}
                    <thead>
                        <tr>
                            <!-- <th>ID</th> -->
                            <td><input type="checkbox" name="todos"></td>
                            <th>RFC</th>
                            <th>Razon Social</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th>Municipio</th>
                            <th>Estado</th>
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_staff %}
                                    <th>Acciones</th>
                                {% endif %}
                            {% endif %}
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for proveedor in object_list %}
                        <tr>
                            <!-- <td>{{ proveedor.id }}</td> -->
                            <td><input type="checkbox" name="{{proveedor.id}}"></td>
                            <td>{{ proveedor.rfc }}</td>
                            <td>{{ proveedor.razon_social}}</td>
                            <td>{{ proveedor.direccion}}</td>
                            <td>{{ proveedor.telefono}}</td>
                            <td>{{ proveedor.correo}}</td>
                            <td>{{ proveedor.municipio.nombre}}</td>
                            <td>{{ proveedor.estado.nombre}}</td>
                            <td>
                                <a href="{% url 'eliminar_proveedor' proveedor.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                                <a href="{% url 'editar_proveedor' proveedor.id %}" class="btn btn-success btn-sm">Editar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </form>
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="javascript:enviar(1);">&laquo; first</a>
                            <a href="javascript:enviar({{ page_obj.previous_page_number }});">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                            <a href="javascript:enviar({{ page_obj.next_page_number }});">next</a>
                            <a href="javascript:enviar({{ page_obj.paginator.num_pages }});">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                <!--Crea solo los botones para staff (tecnicos y administradores)-->
                {% if request.user.is_authenticated %}
                    {% if request.user.is_staff %}
                    <a href="{% url 'agregar_proveedor' %}" class="btn btn-success btn-sm">Agregar</a>
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    {% endif %}
                {% endif %}
                        
                
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function enviar(page){
        $("#page").val(page);
        $("#form").submit();
    }
</script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/datatables-demo.js' %}"></script>
{% endblock %}
