{% extends 'base.html' %}
{% load static %}

{% block title %}
Lista de Proveedores
{% endblock %}

{% block contenido %}
<br>
<h1>Lista De Proveedores</h1>
<br>
<form action="{% url 'buscar_proveedor' %}" method="post" id="form">
    {% csrf_token %}
    <table class="table">
        <tr>
            <td>{{form.rfc}}</td>
            <td>{{form.direccion}}</td>
            <td>{{form.telefono}}</td>
            <td>{{form.correo}}</td>
            <td>{{form.municipio}}</td>
            <td>{{form.estado}}</td>            
            <td>
                <input class="btn btn-success" type="submit" value="Buscar">
                <input type="hidden" name="page" id="page">
            </td>
        </tr>
    </table>
</form>
<table class="table">
        <thead>
            <form action="{% url 'eliminar_todos' %}" method="post">
                {% csrf_token %}
            <tr>
                <!-- <th>ID</th> -->
                <td><input type="checkbox" name="todos"></td>
                <th>RFC</th>
                <th>Razon Social</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Municipio</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in object_list %}
            <tr>
                <!-- <td>{{ proveedor.id }}</td> -->
                <td><input type="checkbox" name="{{proveedor.id}}"></td>
                <td>{{ proveedor.rfc }}</td>
                <td>{{ proveedor.razon_social}}</td>
                <td>{{ proveedor.direccion}}</td>
                <td>{{ proveedor.telefono}}</td>
                <td>{{ proveedor.correo}}</td>
                <td>{{ proveedor.municipio.nombre}}</td>
                <td>{{ proveedor.estado.nombre}}</td>
                <td>
                    <a href="{% url 'eliminar_proveedor' proveedor.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    <a href="{% url 'editar_proveedor' proveedor.id %}" class="btn btn-success btn-sm">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'agregar_proveedor' %}" class="btn btn-success btn-sm">Agregar</a>
    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
    </form>
{% endblock %}
