{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title %}
    {{ accion }} Proveedor
{% endblock %}

{% block contenido %}
<h1 style="margin: auto;">{{ accion }} Proveedor</h1>
<div style="width: 100%; margin: auto;">
    {{ form|crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-success">
        {% if accion == 'Nuevo' %}
            Agregar
        {% else %}
            Guardar
        {% endif %}        
    </button>
    <a href="{% url 'lista_proveedores' %}" class="btn btn-danger">Regresar</a>
</div>
{% endblock %}
